In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [17]:
jobs = pd.read_csv('data/job_listings.csv')
employment = pd.read_csv('data/employment_by_occupation.csv')
labor = pd.read_csv('data/labor_market_statistics.csv')
immigrant = pd.read_csv('data/immigrant_statistics.csv')
london_stocks = pd.read_csv('data/LSE_historical_data.csv')
uk_bills = pd.read_csv('data/UK_bill_data.csv')

# legends
immigrant_legend = pd.read_csv('data/code_legends/immigrant_legend.csv')
labor_legend = pd.read_csv('data/code_legends/labor_market_stats_legend.csv')
onet_legend = pd.read_csv('data/code_legends/onet_code_legend.csv')
soc_legend = pd.read_csv('data/code_legends/soc_code_legend.csv')

In [15]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695577 entries, 0 to 2695576
Data columns (total 17 columns):
title                     object
company_name              object
city                      object
region                    object
zip                       object
created                   object
last_checked              object
last_updated              object
delete_date               object
onet_occupation_code      object
SOC_occupation_code       int64
url                       object
stock_exchange_country    object
stock_exchange_name       object
stock_ticker              object
ticker_end_date           object
ticker_start_date         object
dtypes: int64(1), object(16)
memory usage: 349.6+ MB

In [16]:
jobs.count()

title                     2695577
company_name              2695577
city                      2342884
region                    2218874
zip                       1639224
created                   2695577
last_checked              2695577
last_updated               180301
delete_date               2638285
onet_occupation_code      2695577
SOC_occupation_code       2695577
url                       2695568
stock_exchange_country    2695577
stock_exchange_name       2695577
stock_ticker              2695577
ticker_end_date             66348
ticker_start_date         1303149
dtype: int64

In [26]:
uk_bills[uk_bills['act_text'].str.match('Brexit')].head()

Empty DataFrame
Columns: [act_name, date_of_act, amendment, characters_in_act, words_in_act, link_to_act, act_text]
Index: []

In [29]:
london_stocks.count()

year                        158587
month                       158587
ticker                      158587
list_date                   158230
company_name                158587
icb_industry                158351
icb_supersector             158351
country_of_incorporation    158587
market_cap                  158587
eps                           6755
p/e                           6114
p/s                           6752
dtype: int64

In [38]:
immigrant['Year'].unique()

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018])